*,
*::before,
*::after {box-sizing: border-box;}
:root {--brand-color: #212121;
--secondary-color: #FFFFFF;
--third-color: #2196F3;
--background-color: #FFFFFF;}

.body {font-family: 'Roboto', 'Raleway', sans-serif;
    font-weight: 400, 500, 700, 900;
    cursor:default;
    margin: 0px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}
.section-heading {background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
            max-width: 1600px;
            margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.parent{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    width: 696px;
    padding-top: 100px;
    padding-bottom: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto';
    color: var(--secondary-color);
}
/* buttony */
.buttons{margin-top:94px;
    margin-bottom: 50px;
display: flex;
justify-content: center;}

.modal-btn, .button1 {
    color: var(--brand-color);
    font-family: 'Roboto';
    font-size: 16px;
}
.modal-btn {
    font-weight: 700;
    line-height: 30px;
    padding: 10px 41px 10px 42px;
    width: 200px;
    height: 50px;
    margin: 0 auto 210px auto;
    background-color: #2196F3;
    color: var(--secondary-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button1 {
    font-weight: 500;
    border: none;
    display: inline-flex;
    justify-content: center;
    line-height: 26px;
    padding: 6px 22px 6px 22px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: #F5F4FA;}

    .button1 {
    transition-property: background-color, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button1:hover {background-color: #2196F3;
        color: var(--secondary-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        }

.modal-btn:hover, .button1:hover {
    cursor: pointer;
    text-decoration: none;
}
.modal-btn:hover{transform: rotate(180deg);
}
.modal-btn:focus {transform: rotate(180deg);
}
/* menu*/
.container.page-header {height: 80px;
    border-bottom: 1px solid #ECECEC;
}
.content{
height: 100%;
display: flex;
padding: 24px 227px 25px 0px;
justify-content: space-between;
align-items: center;
}
 /* WebStudio */
 .logo, .logo1, .logo2 {
     font-family: 'Raleway';
     font-size: 26px;
     font-weight: 700;
     line-height: 31px;
     text-decoration: none;
 }
 .logo {
     color: var(--third-color);
 }
 .logo1 {
     color: var(--brand-color);
 }
 .logo2 {
    color: var(--secondary-color);
 }
.navi {width: 400px;
}
.menu, .menu2{display: inline-flex;
background-color: var(--background-color);
}
.menu{padding-left: 93px;
}

.menu2{margin-right: -227px;
margin-left: 220px;
}

.menu-list,.menu-list2 {
    list-style-type: none;
}
.menu-list:not(:last-child) {
    padding-right: 46px;
}
.menu-list2:not(:last-child) {
    padding-right: 25px;
}
.icon-envelope-gray-link, .icon-smartphone-gray-link {
    margin-right: 10px;
    fill: #757575;
    stroke-width: 2px;
    color: #757575;
    transition-property: text-decoration, color, stroke;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.icon-envelope-gray-link {
            width: 16px;
            height: 12px;
        background-position: -528px 0;}

.icon-smartphone-gray-link {
            width: 10px;
            height: 16px;
            background-position: -624px -48px;}

.icon-envelope-gray-link:hover,
.icon-smartphone-gray-link:hover{
    text-decoration: underline;
    color: var(--third-color);
    stroke: #2196F3;
    cursor: pointer;
}

.link1, .icon-envelope-gray-link, .icon-smartphone-gray-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
}
.link1 {color: var(--brand-color);
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {content: "";
border-top: 4px solid #2196F3;
display: block;
position: relative;
top: 29px;
border-radius: 2px;
}

.link1:hover {color: var(--third-color);}

.card-set{display: flex;
    justify-content: space-evenly;
list-style-type: none;
margin-top:94px;
margin-bottom: 0px;
}
.lorem-image{background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px 0;
width:270px; 
height: 120px;
transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.lorem-image:hover{border: 2px solid #2196F3;
    cursor: pointer;
}

.icon-antenna-1 {
    width: 70px;
    height: 70px;
    background-position: 0 0;
}
.icon-clock-1 {
    width: 70px;
    height: 70px;
    background-position: -96px 0;
}
.icon-diagram-1 {
    width: 70px;
    height: 70px;
    background-position: -144px 0;
}
.icon-astronaut-1 {
    width: 70px;
    height: 70px;
    background-position: -48px 0;
}
.lorem {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.lorem1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#757575;
    text-transform: none;
    text-align: left;
}

.profession, .team, .lorem,.lorem1, .name, .job, .client-title{
    font-family: 'Roboto';}

.section-team{background-color: #F5F4FA;
margin-top: -200px;}

.team1, .profession1, .profession, .name, .job {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;}

.profession, .team {margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 94px;
    }

    .box{width: 370px;
    height: 70px;
background-color:rgba(47, 48, 58, 0.8);
font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.box.relative1{position: relative;
    bottom: 164px;
left:0px;
text-indent: 90px;}

.box.relative2 {
    position: relative;
    bottom: 234px;
    left: 400px;
    text-indent: 113px;
}
.box.relative3 {
    position: relative;
    bottom: 304px;
    left: 800px;
    text-indent: 94px;
}
.profession1, .card-set, .team1, .site {
            padding-left: 0px;
        }
.profession1{margin-bottom: 94px;
padding-left: 0px;}

.image1, .image2, .image3{
display: flex;
justify-content: space-between;
padding-right:30px;}

.profession, .team, .client-title{
    font-size: 36px;
    line-height: 42px;
}
.profession, .team, .name, .job, .client-title {
    text-align: center;
}
.profession, .team, .lorem, .client-title {
    font-weight: 700;
    color: var(--brand-color);
}
.team1{display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 94px;
margin-bottom: 0px;
gap: 30px;}

.name, .job {
    font-size: 16px;
    background-color: var(--background-color);
    line-height: 19px;
}
.name {
    font-weight: 500;
    width: 270px;
    height: 19px;
    margin: 0;
    padding: 30px 99px 20px 99px;
    color: var(--brand-color);
}
.card1, .card2, .card3, .card4 {
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.12),
    0px 2px 3px rgba(0, 0, 0, 0.12),
    12px 0px 15px rgba(0, 0, 0, 0.30),
    0px 12px 15px rgba(0, 0, 0, 0.30);
border-radius: 0px 0px 4px 4px;
background-color: var(--background-color);}

.icon-Social-links-1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--background-color);
    fill: #AFB1B8;
    border: none;
    transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.icon-Social-links-1:hover{background-color: #2196F3;
    fill: #FFFFFF;
cursor: pointer;}

.icon-Social-links-1:first-of-type {
    margin-left: 20px;}

.icon-Social-links-1:not(:last-of-type) {margin-top: 16px;
    margin-bottom: 15px;
            margin-right: 10px;
}
.icon-Social-links-1:last-of-type {margin-top: 16px;
    margin-right: 20px;
margin-bottom: 15px;}

.social-link-icon {
    width: 20px;
    height: 20px;
}

.job {
    font-weight: 400;
    color: #757575;
    width: 270px;
    height: 19px;
    padding: 10px 61px 30px 62px;
    margin: 0;
}
.container.contractor{margin: 0 auto;
    padding-bottom: 94px;
    max-width: 1200px;
    }
.clients{display:flex;
    justify-content: space-between;
    padding-top: 50px;
}
.icon{display:flex;
    justify-content: center;
    fill: #AFB1B8;
border: 1px solid #AFB1B8;
    border-radius: 4px;
width: 170px;
    height: 92px;
margin: 0 auto;
transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.icon:hover:nth-child(-n + 6) {
    fill: #2196F3;
    border: 1px solid #2196F3;
    cursor: pointer;
}
.client-title{padding-top:94px;
margin: 0 auto;}

.site {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 64px;
}
.photo {
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.photo:hover {box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12), 
    4px 4px 4px rgba(0, 0, 0, 0.06), 
    4px 4px 6px rgba(0, 0, 0, 0.16),
    8px 0px 10px rgba(0, 0, 0, 0.30),
    0px 8px 10px rgba(0, 0, 0, 0.30);
cursor: pointer;}

.portfolio-box{position: relative;
width: 370px;
height: 404px;
padding-top: 0px;
overflow: hidden;
font-family: 'Roboto';
font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    text-transform: none;
color: var(--brand-color);}

.overlay {position: absolute;
bottom: 110px;
left: 0;
width: 370px;
    height: 294px;
font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: transparent;
    letter-spacing: 0.03em;
    padding: 49px 45px 49px 24px;
transform: translateY(100%);
transition-property: transform;
transition-duration: 250ms; 
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay>p {
    margin: 0;
}
.portfolio-box:hover .overlay {
    transform: translateY(0);
    background-color: #2196F3E5;
    color: var(--secondary-color);
}
.portfolio-card-image.no-gap{
      display: block;
      width: 370px;
      height: 294px;
    }
    .card-image.no-gap {display: block;}

  .site-nav{
margin-top: 20px;
margin-bottom: 2px;
text-indent: 24px;
background-color: var(--background-color);

}
.site-nav1{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-top: 2px;
    margin-bottom: 0px;
    }
    .portfolio-box, .site-nav1 {font-family: 'Roboto';
    text-decoration: none;
}

/*stopka*/
footer>.container {
    display: flex;
    align-items: center;
    background-color: #2F303A;
        padding: 60px 0px 60px 215px;
        margin: 0 auto;
}
.link2, .link3, .link4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
.link2, .link3 {
    text-decoration: none;
}
.social-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
padding-bottom: 10px;}

.social-head{margin-top: -48px;
        padding-left: 70px;
        width: 230px;
        height: 80px;
    }
.address {
    font-family: 'Roboto';
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    cursor: default;
}
.icon-Social-links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
    transition-property: fill, background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;}
    
.icon-Social-links-footer:hover,
.icon-Social-links-footer:focus {
    fill: #FFFFFF;
    background-color: #2196F3;
}
.icon-links-footer {width:20px;
height: 20px;}

/*BACKDROP - MODAL WINDOW*/

.modal{position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    width: 528px;
min-height: 581px;
background-color: var(--background-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition-property: background-color, width;
transition-duration: 3s;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal:hover{background-color: greenyellow;
width: 300px;}

.close-btn {position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: var(--background-color);
transition-property: transform;
transition-duration: 2s; 
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    
.close-btn:hover{transform: rotate(360deg);}

.backdrop {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);}

.is-hidden {opacity: 0;
visibility: hidden;
pointer-events: none;}
