*,
*::before,
*::after {box-sizing: border-box;}
:root { --brand-color: #212121;
}

.body {font-family: 'Roboto', 'Raleway', sans-serif;
    font-weight: 400, 500, 700, 900;
    color: var(--brand-color);
    cursor:default;
    margin: 0px;
}
.container {
    width: 1200px;
    margin: 0px auto;
    background-color: #FFFFFF;
    
}
/* buttony */
.button,
.button1 {
    color: var(--brand-color);
    font-family: 'Roboto';
    font-size: 16px;}
.buttons{margin-top: 94px;
    margin-bottom:50px;
margin-left:620px;}
.button {
    font-weight: 700;
    line-height: 30px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button1 {
    font-weight: 500;
    border: none;
    display: inline-flex;
    justify-content: center;
    line-height: 26px;
    letter-spacing: 0.03em;
    padding: 6px 22px 6px 22px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: #F5F4FA;
}
.button:hover, .button1:hover {
    cursor: pointer;
    text-decoration: none;
}
.button1:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
/* menu*/
.page-header {height: 80px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 0px; 
}
.content{display: flex;
    margin-right: 227px;
    margin-left:215px;
height: 100%;
}
.menu{display: flex;
    align-items: center;
background-color: #FFFFFF;
list-style-type: none;
}
.menu-list{margin-right:23px;
margin-left:23px;}

.menu-list2 {margin-right: 25px;
    margin-left: 25px;
}

.menu2{display: flex;
    margin-left: auto;
list-style-type: none;}

.link1, .gray-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link1{color: var(--brand-color);}
.gray-link {color: #757575;}

.link1:hover, .gray-link:hover, .link1:focus, .gray-link:focus {
    text-decoration: underline;
    color: #2196F3;
}
    /* WebStudio */
.logo, .logo1, .logo2 {
            font-family: 'Raleway';
            font-size: 26px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0.03em;
            text-decoration: none;
        }
        .logo {color: #2196F3;}
        .logo1 {color: var(--brand-color);}
        .logo2 {color: #FFFFFF;
        }
.box{display: flex;
    margin-bottom: 320px;
background-color: #2F303A;
}
.parent, .child{
    text-align: center;
    font-family: 'Roboto';
    color: #FFFFFF;
}
.parent{margin: 200px 452px 280px 452px;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-transform: uppercase;
}
.child{
    margin-top: 350px;
    margin-bottom: 200px;
}
.card {display: list-item;
    max-width:270px;
margin-bottom: 30px;
margin-left: 30px;}

.card-set{display: flex;
    justify-content: space-between;
list-style-type: none;
border: none;
padding-bottom: 94px;
}
.lorem {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.lorem1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#757575;
    text-transform: none;
    text-align: left;
}

.profession, .team, .lorem,.lorem1, .name, .job{
    font-family: 'Roboto';}

.team1, .profession1, .profession, .name, .job {
            display: flex;
            justify-content: space-between;
            list-style-type: none;}

.team {padding: 94px 695px 25px 695px;
    }
.profession{padding: 94px 624px 25px 600px;}

.profession1{padding-bottom: 94px;}

.image1, .image2, .image3{
display: flex;
justify-content: space-between;}

.profession, .team{
    font-size: 36px;
    line-height: 42px;
}
.profession, .team, .name, .job {
    text-align: center;
}
.profession, .team, .lorem {
    font-weight: 700;
    color: var(--brand-color);
}
.name, .job {
    font-size: 16px;
    background-color: #FFFFFF;
    line-height: 19px;
}
.name {
    font-weight: 500;
    width: 270px;
    height: 19px;
    margin: 0;
    padding: 30px 99px 20px 99px;
    color: var(--brand-color);
}
.card1, .card2, .card3, .card4 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}

    .card1{margin-left:215px;}
    .card4{margin-right:215px;}

    .card-image.no-gap {display: block;
    }
.job {
    font-weight: 400;
    color: #757575;
    width: 270px;
    height: 19px;
    padding: 10px 61px 30px 62px;
    margin: 0;
}
.container1 {
    background-color: #F5F4FA;
    padding-bottom: 94px;
}
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9 {border: 1px solid #EEEEEE;
margin-bottom: 15px;}
.photo4, .photo5, .photo6, .photo7, .photo8, .photo9 {margin-top: 15px;}

.photo1, .photo2, .photo4, .photo5, .photo7, .photo8 {margin-right: 15px;}

.photo7, .photo8, .photo9{margin-bottom:47px;}

.site {display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    list-style-type: none;
margin-bottom: 94px;}

    .site-nav{
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
margin-bottom: 2px;
color: var(--brand-color);
}
.site-nav1 {font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-top: 2px;
    }
    .site-nav, .site-nav1 {font-family: 'Roboto';
    text-decoration: none;
text-align: left;
padding-right: 24px;
padding-left: 24px;
}

/*stopka*/
.footer {background-color: #2F303A;
    padding: 60px 1240px 60px 215px;
}
.address {
    font-family: 'Roboto';
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-style: normal;
    cursor:default;
}
.link2, .link3, .link4 {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
.link2, .link3 {text-decoration: none;}

