*,
*::before,
*::after {box-sizing: border-box;}

.body {font-family: 'Roboto', 'Raleway', sans-serif;
    font-weight: 400, 500, 700, 900;
    color: var(--brand-color);
    cursor:default;
    margin: 0px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    background-color: #FFFFFF;
}
.bg-image {background-color: #2F303A;
    background-image: url("../images/Img.jpg"), 
    linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4));
    background-size: cover;
    background-repeat: no-repeat;
}
    .parent{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    width: 696px;
    padding-top: 100px;
    text-transform: uppercase;
    margin: 0px 210px 80px 310px;
}
.parent, .child {
    text-align: center;
    font-family: 'Roboto';
    color: #FFFFFF;
}
.child{max-width: 200px;
}
/* buttony */
.buttons{margin-top:94px;
    margin-bottom: 50px;
display: flex;
justify-content: center;}
.button,
.button1 {
    color: var(--brand-color);
    font-family: 'Roboto';
    font-size: 16px;
}
.button {
    font-weight: 700;
    line-height: 30px;
    padding: 10px 41px 10px 42px;
    width: 200px;
    height: 50px;
    margin: 30px 450px 230px 560px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button1 {
    font-weight: 500;
    border: none;
    display: inline-flex;
    justify-content: center;
    line-height: 26px;
    padding: 6px 22px 6px 22px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: #F5F4FA;
}
.button:hover, .button1:hover {
    cursor: pointer;
    text-decoration: none;
}
.button1:hover, .button1:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* menu*/
.page-header {height: 80px;
    border-bottom: 1px solid #ECECEC;
}
.content{
height: 100%;
display: flex;
padding: 24px 0px 25px 215px;
justify-content: space-between;
align-items: center;
}
.navi {width: 400px;
}
.menu, .menu2{display: inline-flex;
background-color: #FFFFFF;
}
.menu{margin-left: -93px;}
.menu2{margin-right: 227px;}

.menu-list, .menu-list2 {list-style-type: none;}
.menu-list {padding-right:46px;}
.menu-list2{padding-right: 50px;}

.link1, .gray-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
}
.link1{color: var(--brand-color);}
.gray-link {color: #757575;}

.link1:hover, .gray-link:hover, .link1:focus, .gray-link:focus {
    text-decoration: underline;
    color: #2196F3;
}
    /* WebStudio */
.logo, .logo1, .logo2 {
            font-family: 'Raleway';
            font-size: 26px;
            font-weight: 700;
            line-height: 31px;
            text-decoration: none;
        }
        .logo {color: #2196F3;}
        .logo1 {color: var(--brand-color);}
        .logo2 {color: #FFFFFF;
        }

.card-set{display: flex;
    justify-content: space-evenly;
list-style-type: none;
margin-top:94px;
margin-bottom: 94px;
}

.lorem {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.lorem1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#757575;
    text-transform: none;
    text-align: left;
}

.profession, .team, .lorem,.lorem1, .name, .job{
    font-family: 'Roboto';}

.team1, .profession1, .profession, .name, .job {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;}

.profession{
    padding: 0px 624px 25px 624px;
    }
.profession1{margin-bottom: 94px;}

.image1, .image2, .image3{
display: flex;
justify-content: space-between;
padding-right:30px;}

.profession, .team{
    font-size: 36px;
    line-height: 42px;
}
.profession, .team, .name, .job {
    text-align: center;
}
.profession, .team, .lorem {
    font-weight: 700;
    color: var(--brand-color);
}
.team {padding: 0px 695px 25px 695px;
}
.name, .job {
    font-size: 16px;
    background-color: #FFFFFF;
    line-height: 19px;
}
.name {
    font-weight: 500;
    width: 270px;
    height: 19px;
    margin: 0;
    padding: 30px 99px 20px 99px;
    color: var(--brand-color);
}
.card1, .card2, .card3, .card4 {
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.12),
    0px 2px 3px rgba(0, 0, 0, 0.12),
    12px 0px 15px rgba(0, 0, 0, 0.30),
    0px 12px 15px rgba(0, 0, 0, 0.30);

        border-radius: 0px 0px 4px 4px;}

    .card-image.no-gap {display: block;
    }
.job {
    font-weight: 400;
    color: #757575;
    width: 270px;
    height: 19px;
    padding: 10px 61px 30px 62px;
    margin: 0;
}
.container1 {
    background-color: #F5F4FA;
    padding-top: 47px;
    padding-bottom: 94px;
}

.photo {border: 1px solid #EEEEEE;
margin-bottom: 30px;}

  .site {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    list-style-type: none;
margin-bottom: 64px;}

.photo:hover{box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12), 
    4px 4px 4px rgba(0, 0, 0, 0.06), 
    4px 4px 6px rgba(0, 0, 0, 0.16),
    8px 0px 10px rgba(0, 0, 0, 0.30),
    0px 8px 10px rgba(0, 0, 0, 0.30);
cursor: pointer;}

    .site-nav{
font-size: 18px;
font-weight: 700;
line-height: 36px;
margin-bottom: 2px;
color: var(--brand-color);
}
.site-nav1 {font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-top: 2px;
    }
    .site-nav, .site-nav1 {font-family: 'Roboto';
    text-decoration: none;
text-align: left;
padding-right: 24px;
padding-left: 24px;
}

/*stopka*/
.footer {background-color: #2F303A;
    padding: 60px 1240px 60px 215px;
}
.address {
    font-family: 'Roboto';
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    cursor:default;
}
.social-title{font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    width:113px;
    height:16px;
    border: 1px solid red;
    line-height: 16px;
text-transform: uppercase;
color: #FFFFFF;
margin: 0px 171px 0px 150px;}

.social-link{
    margin: 20px 171px 200px 300px;
border: 1px solid red;}

.icon-Social-links {
    width: 150px;
    height: 32px;
    background-position: 0 -96px;
    fill:#fff;
    fill-opacity: 0.1;
}
.link2, .link3, .link4 {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
        font-size: 14px;
    color: rgba(255, 255, 255, 0.6);}
.link2, .link3 {text-decoration: none;}
