.modal__checkbox--visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  font-weight: 400, 500, 700, 900;
  cursor: default;
  margin: 0px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.container-card-set {
  margin-top: 94px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.container-footer {
  display: flex;
  align-items: center;
  height: 252px;
}

.container-main-section {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  padding-top: 100px;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.container-page-header {
  height: 80px;
  border-bottom: 1px solid #ECECEC;
}
.container-page-header__content {
  height: 100%;
  display: flex;
  padding: 24px 227px 25px 0px;
  justify-content: space-between;
  align-items: center;
}

.container-clients {
  padding-bottom: 94px;
}

.page-header__logo, .page-header__logo2 {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  text-decoration: none;
}

.page-header__logo2 {
  color: #212121;
}

.navi {
  width: 400px;
}
.navi__menu {
  display: inline-flex;
  background-color: #FFFFFF;
  padding-left: 93px;
}

.navi__menu-list {
  list-style-type: none;
}
.navi__menu-list:not(:last-child) {
  padding-right: 46px;
}

.navi__menu-link {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navi__menu-link:hover {
  color: #2196F3;
}
.navi__menu-link--active::after {
  content: "";
  display: block;
  border-top: 4px solid #2196F3;
  position: relative;
  top: 29px;
  border-radius: 2px;
}

.contact-menu {
  display: inline-flex;
  margin-right: -227px;
  margin-left: 220px;
}
.contact-menu__list {
  list-style-type: none;
}
.contact-menu__list:not(:last-child) {
  padding-right: 25px;
}

.main-section-heading {
  background-color: #2196F3;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-set {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
}
.card-set__image {
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 25px 0;
  width: 270px;
  height: 120px;
}
.card-set__image__image:hover {
  cursor: pointer;
}

.card-set--title, .card-set--text {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.card-set--text {
  color: #757575;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  text-align: left;
}

.icon-astronaut-1, .icon-diagram-1, .icon-clock-1, .icon-antenna-1 {
  width: 70px;
  height: 70px;
}

.icon-antenna-1 {
  background-position: 0 0;
}

.icon-clock-1 {
  background-position: -96px 0;
}

.icon-diagram-1 {
  background-position: -144px 0;
}

.icon-astronaut-1 {
  background-position: -48px 0;
}

.icon {
  display: flex;
  justify-content: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin: 0 auto;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover:nth-child(-n+6) {
  fill: #2196F3;
  border: 1px solid #2196F3;
  cursor: pointer;
}

.icon-envelope-link, .icon-smartphone-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
  fill: #FFFFFF;
  stroke-width: 2px;
  color: #757575;
  transition-property: text-decoration, color, stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 12px;
  background-position: -528px 0;
}
.icon-envelope-link:hover, .icon-smartphone-link:hover {
  text-decoration: underline;
  color: #2196F3;
  stroke: #2196F3;
  cursor: pointer;
}

.icon-smartphone-link {
  width: 10px;
  height: 16px;
  background-position: -624px -48px;
}

.product {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-bottom: 50px;
  padding-top: 94px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  line-height: 42px;
  text-align: center;
}
.product__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 94px;
}
.product__image {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.box {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-top: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.box__text-box1 {
  position: relative;
  bottom: 164px;
  left: 0px;
  text-indent: 90px;
}
.box__text-box2 {
  position: relative;
  bottom: 234px;
  left: 400px;
  text-indent: 113px;
}
.box__text-box3 {
  position: relative;
  bottom: 304px;
  left: 800px;
  text-indent: 94px;
}

.team-section {
  background-color: #F5F4FA;
  margin-top: -200px;
}

.team {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 94px;
}
.team__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
.team__card {
  border-radius: 0px 0px 4px 4px;
  gap: 15px;
  background-color: #FFFFFF;
}
.team__name, .team__job {
  display: flex;
  justify-content: space-evenly;
  width: 270px;
  height: 19px;
  margin: 0;
  padding: 30px 99px 20px 99px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  list-style-type: none;
}
.team__job {
  padding: 10px 61px 30px 62px;
  color: #757575;
  font-weight: 400;
}
.team__social-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  fill: #AFB1B8;
  border: none;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-icons:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
  cursor: pointer;
}
.team__social-icons:first-of-type {
  margin-left: 20px;
}
.team__social-icons:not(:last-of-type) {
  margin-top: 16px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.team__social-icons:last-of-type {
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.social-link-icon {
  width: 20px;
  height: 20px;
}

.clients__title {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 94px;
  margin: 0 auto;
}

.clients__list {
  display: flex;
  padding-top: 50px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-right: -8px;
  margin-bottom: 64px;
  margin-left: -8px;
}
.grid__item {
  position: relative;
  width: 370px;
  height: 404px;
  margin: 25px 15px 30px 15px;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__item:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.06), 4px 4px 6px rgba(0, 0, 0, 0.16), 8px 0px 10px rgba(0, 0, 0, 0.3), 0px 8px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.grid__text-field {
  position: relative;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-top: 0;
  padding-top: 20px;
}
.grid__title {
  position: relative;
  margin: 0 24px 0 24px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: none;
  text-decoration: none;
  color: #212121;
}
.grid__subtitle {
  position: relative;
  margin: 4px 24px 20px 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #757575;
  line-height: 30px;
  text-decoration: none;
}
.grid__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__overlay-text {
  padding: 49px 45px 49px 24px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.grid__item:hover .grid__overlay {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.overlay {
  position: absolute;
  bottom: -294px;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 49px 45px 49px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons {
  margin-top: 94px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-button {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  display: inline-flex;
  justify-content: center;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  margin-left: 8px;
  border-radius: 4px;
  background-color: #F5F4FA;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  text-decoration: none;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 41px 10px 42px;
  width: 200px;
  height: 50px;
  margin: 0 auto 210px auto;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.footer {
  background-color: #2F303A;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3;
  line-height: 31px;
  text-decoration: none;
}
.footer__logo2 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  text-decoration: none;
  color: #FFFFFF;
}
.footer__address {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  cursor: default;
}
.footer__mail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__phone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon:hover, .footer__icon:focus {
  background-color: #2196F3;
}
.footer__icon-link {
  width: 20px;
  height: 20px;
}

.social-head {
  margin-top: -48px;
  margin-right: 78px;
  margin-left: 70px;
  width: 230px;
  height: 80px;
}
.social-head__title {
  margin-left: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.social-head__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: -2px;
  gap: 10px;
}

.newsletter {
  margin-top: -48px;
  padding-left: 30px;
  width: 300px;
  height: 80px;
}
.newsletter__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.newsletter__e-mail {
  width: 358px;
  height: 50px;
  margin-top: -5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #2F303A;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.newsletter__icon {
  position: absolute;
  top: 13px;
  left: 148px;
  height: 100px;
  fill: #FFFFFF;
}
.newsletter__submit-button {
  position: relative;
  top: -50px;
  transform: translate(185%);
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-right: 35px;
  line-height: 30px;
  width: 200px;
  height: 50px;
}
.newsletter__submit-button:hover {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.modal__field, .modal__field3, .modal__field2, .modal__field1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  text-indent: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus-within, .modal__field3:focus-within, .modal__field2:focus-within, .modal__field1:focus-within {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.modal__field3 {
  height: 128px;
  padding-top: 12px;
  text-indent: 16px;
}
.modal__icon--name {
  position: absolute;
  top: 109px;
  left: 55px;
}
.modal__icon--phone {
  position: absolute;
  top: 180px;
  left: 55px;
}
.modal__icon--envelope-modal {
  position: absolute;
  bottom: 335px;
  left: 53px;
}
.modal__mail, .modal__comment, .modal__name, .modal__phone {
  margin-bottom: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__mail:focus-within, .modal__comment:focus-within, .modal__name:focus-within, .modal__phone:focus-within {
  fill: #2196F3;
}
.modal__terms {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.modal__terms::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-top: 20px;
  margin-right: 7px;
  outline: 2px solid #212121;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__terms--link {
  text-decoration: none;
  transition-property: text-decoration, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__terms--link:hover {
  text-decoration: underline;
  color: #2196F3;
}
.modal__checkbox:checked + .modal__terms::before {
  background-color: #2196F3;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 16px;
  outline: none;
}
.modal__terms--link {
  text-decoration: none;
  transition-property: text-decoration, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__terms--link:hover {
  text-decoration: underline;
  color: #2196F3;
}
.modal__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 40px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.modal__submit-button:hover {
  cursor: pointer;
}
.modal__submit-button--title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover {
  transform: rotate(360deg);
}/*# sourceMappingURL=main.css.map */