.modal__checkbox--visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  font-weight: 400, 500, 700, 900;
  cursor: default;
  margin: 0px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 768px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container-card-set {
  margin-top: 94px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 603px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container-footer {
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    flex-direction: row;
    height: 290px;
  }
}
.container-main-section {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container-main-section {
    font-family: "Roboto", sans-serif;
  }
}
@media screen and (min-width: 1200px) {
  .container-main-section {
    font-size: 44px;
    line-height: 60px;
    padding-top: 100px;
  }
}
.container-page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container-page-header {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container-page-header {
    min-width: 768px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .container-page-header {
    min-width: 1200px;
    height: 80px;
  }
}
.container-clients {
  padding-bottom: 94px;
}

.page-header__logo, .page-header__logo2 {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  text-decoration: none;
}

.page-header__logo2 {
  color: #212121;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .page-header__logo, .page-header__logo2 {
    position: relative;
    top: 0;
    left: 15px;
    margin-right: 93px;
  }

  .page-header__logo2 {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo, .page-header__logo2 {
    position: relative;
    top: 10px;
    left: 0;
    margin-right: 93px;
    margin-bottom: 20px;
  }

  .page-header__logo2 {
    position: relative;
    top: 0;
    left: 0;
  }
}
.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  /*
  &__close-btn {
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: getColor("secondary-decoration-color");
    cursor: pointer;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: rotate(360deg);
    }
  }*/
}
.navi__menu {
  list-style-type: none;
  display: flex;
}
.navi__menu-link {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navi__menu-link:hover {
  color: #2196F3;
}
.navi__menu-link--active::after {
  content: "";
  display: block;
  border-top: 4px solid #2196F3;
  position: relative;
  top: 29px;
  border-radius: 2px;
}

.contact-menu__link {
  font-family: "Roboto", sans-serif;
  color: #757575;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  transition-property: color, stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-menu__link:hover {
  text-decoration: none;
  color: #2196F3;
  stroke: #2196F3;
  stroke-width: 2px;
}

.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 4px;
  background-color: black;
  border: none;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

.hamburger::before {
  transform: translateY(-16px);
}

.hamburger::after {
  transform: translateY(16px);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hamburger {
    display: none;
  }

  .navi {
    display: flex;
    position: relative;
    padding: 0px;
  }
  .navi__menu {
    width: 0px;
    height: 0px;
    position: relative;
    top: -94px;
    left: 400px;
    display: inline-flex;
    justify-content: center;
    padding: 0px;
    background-color: rgb(101, 172, 172);
  }
  .navi__menu-list {
    list-style-type: none;
  }
  .navi__menu-list:not(:last-child) {
    padding-right: 46px;
  }
  .navi__menu-link {
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navi__menu-link--active::after {
    content: "";
    display: block;
    border-top: 4px solid #2196F3;
    position: relative;
    top: 29px;
    border-radius: 2px;
  }

  .contact-menu {
    position: relative;
    top: -135px;
    right: -580px;
  }
  .contact-menu__list {
    list-style-type: none;
  }
  .contact-menu__list:not(:last-child) {
    padding-right: 50px;
    padding-bottom: 10px;
  }
  .contact-menu__link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }

  .navi {
    position: relative;
    padding: 0px;
  }
  .navi__menu {
    position: relative;
    top: -70px;
    left: 600px;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    height: 0px;
    transform: translate(-50%);
  }
  .navi__menu-list {
    list-style-type: none;
  }
  .navi__menu-list:not(:last-child) {
    padding-right: 46px;
  }
  .navi__menu-link {
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navi__menu-link--active::after {
    content: "";
    display: block;
    border-top: 4px solid #2196F3;
    position: relative;
    top: 29px;
    border-radius: 2px;
  }

  .contact-menu {
    position: relative;
    top: -120px;
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
  }
  .contact-menu__list {
    list-style-type: none;
  }
  .contact-menu__list:not(:last-child) {
    padding-right: 25px;
  }
  .contact-menu__link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
.main-section-heading {
  background-color: #2196F3;
  background-image: url("../images/header-mobile.jpg");
  width: 480px;
  height: 400px;
  margin: 0 auto;
  background-size: 480px 400px;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-section-heading {
    background-image: url("../images/header-mobile@2x.jpg");
    background-size: 480px 400px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-section-heading {
    background-image: url("../images/header-tablet.jpg");
    width: 768px;
    height: 400px;
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) {
  .main-section-heading {
    background-image: url("../images/header-tablet@2x.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 1200px) {
  .main-section-heading {
    background-image: url("../images/header.jpg");
    width: 1600px;
    height: 600px;
    background-size: 1600px 600px;
  }
}
.card-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 15px;
}
.card-set__image {
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
}
.card-set__image__image:hover {
  cursor: pointer;
}
.card-set__title {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
.card-set__text {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: none;
  text-align: left;
  padding-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
  }
  .card-set__item {
    max-width: 100%;
    flex-basis: calc((100% - 30px) / 2);
  }
  .card-set__image {
    width: 100%;
  }
  .card-set__title {
    text-align: left;
  }
  .card-set__text {
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 0;
    margin-top: 94px;
  }
  .card-set__image {
    padding: 25px 0;
    width: 270px;
    height: 120px;
  }
  .card-set__title {
    text-align: left;
  }
  .card-set__text {
    padding-left: 0;
  }
}
.icon-astronaut-1, .icon-diagram-1, .icon-clock-1, .icon-antenna-1 {
  width: 70px;
  height: 70px;
}

.icon-antenna-1 {
  background-position: 0 0;
}

.icon-clock-1 {
  background-position: -96px 0;
}

.icon-diagram-1 {
  background-position: -144px 0;
}

.icon-astronaut-1 {
  background-position: -48px 0;
}

.icon {
  display: flex;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  margin: 0 auto;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover:nth-child(-n+6) {
  fill: #2196F3;
  border: 1px solid #2196F3;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .icon {
    width: 170px;
  }
}
.icon-envelope-link, .icon-smartphone-link {
  margin-right: 10px;
  fill: #FFFFFF;
  stroke-width: 2px;
  width: 16px;
  height: 12px;
  background-position: -528px 0;
}
.icon-envelope-link:hover, .icon-smartphone-link:hover {
  stroke: #2196F3;
  cursor: pointer;
}

.icon-smartphone-link {
  width: 10px;
  height: 16px;
  background-position: -624px -48px;
}

.product {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-bottom: 50px;
  padding-top: 94px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  line-height: 42px;
  text-align: center;
}
.product__list {
  display: none;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 94px;
}
.product__image {
  display: none;
  justify-content: space-between;
  padding-right: 30px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .product {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .product {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .product {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 50px;
    padding-top: 94px;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    line-height: 42px;
    text-align: center;
  }
  .product__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 94px;
  }
  .product__image {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }
}
.box {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-top: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.box__text-box1 {
  position: relative;
  bottom: 164px;
  left: 0px;
  text-indent: 90px;
}
.box__text-box2 {
  position: relative;
  bottom: 234px;
  left: 400px;
  text-indent: 113px;
}
.box__text-box3 {
  position: relative;
  bottom: 304px;
  left: 800px;
  text-indent: 94px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .box {
    visibility: hidden;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .box {
    visibility: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .box {
    visibility: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    visibility: visible;
  }
}
.team-section {
  background-color: #F5F4FA;
  margin-top: -200px;
}

.team {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 94px;
}
.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
  margin-top: 0px;
  list-style-type: none;
}
.team__card {
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
}
.team__name, .team__job {
  display: flex;
  justify-content: space-evenly;
  width: 270px;
  height: 19px;
  margin: 0;
  padding: 30px 99px 20px 99px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  list-style-type: none;
}
.team__job {
  padding: 10px 61px 30px 62px;
  color: #757575;
  font-weight: 400;
}
.team__social-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  fill: #AFB1B8;
  border: none;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-icons:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
  cursor: pointer;
}
.team__social-icons:first-of-type {
  margin-left: 20px;
}
.team__social-icons:not(:last-of-type) {
  margin-top: 16px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.team__social-icons:last-of-type {
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.social-link-icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team {
    font-size: 28px;
    line-height: 33px;
  }
  .team__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 0px;
  }
  .team__card {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    font-size: 36px;
    line-height: 42px;
  }
  .team__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  .team__card {
    border-radius: 0px 0px 4px 4px;
    gap: 15px;
  }
  .team__job {
    padding: 10px 61px 30px 62px;
  }
}
.clients__title {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 94px;
  margin: 0 auto;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__title {
    padding-top: 94px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 42px;
  }

  .clients__list {
    display: flex;
    padding-top: 50px;
  }
}
.grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-right: -8px;
  margin-bottom: 60px;
  margin-left: -8px;
}
.grid__item {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 404px;
  margin: 15px 15px 15px 15px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__item:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.06), 4px 4px 6px rgba(0, 0, 0, 0.16), 8px 0px 10px rgba(0, 0, 0, 0.3), 0px 8px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.grid__image {
  position: relative;
}
.grid__text-field {
  position: relative;
  background-color: #FFFFFF;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-top: 0;
  padding-top: 20px;
}
.grid__title {
  position: relative;
  margin: 0 24px 0 24px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: none;
  text-decoration: none;
  color: #212121;
}
.grid__subtitle {
  position: relative;
  margin: 4px 24px 20px 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #757575;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.grid__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__overlay-text {
  padding: 77px 24px 77px 24px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.grid__item:hover .grid__overlay {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  .grid__item {
    overflow: hidden;
    width: 354px;
    height: 404px;
  }
  .grid__title {
    position: relative;
    font-size: 17px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: none;
    text-decoration: none;
    color: #212121;
  }
  .grid__subtitle {
    position: relative;
    margin: 4px 24px 20px 24px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #757575;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .grid__overlay-text {
    padding: 49px 24px 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-right: -8px;
    margin-bottom: 64px;
    margin-left: -8px;
  }
  .grid__item {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 404px;
    margin: 25px 15px 30px 15px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .grid__overlay-text {
    padding: 49px 24px 49px 24px;
  }
}
.overlay {
  position: absolute;
  bottom: -294px;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 49px 45px 49px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons {
  margin-top: 60px;
  margin-bottom: 40px;
}

.portfolio-button {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  display: inline-block;
  padding: 6px 22px 6px 22px;
  margin-left: 15px;
  border-radius: 4px;
  background-color: #F5F4FA;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .buttons {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .buttons {
    position: relative;
    top: 0;
    left: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    position: relative;
    top: 0;
    left: 290px;
  }
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 41px;
  width: 200px;
  height: 50px;
  margin: 0 auto 210px auto;
  background-color: #2196F3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.footer {
  background-color: #2F303A;
}
.footer__logo-field {
  position: relative;
  top: 0;
  left: 0;
}
.footer__logo, .footer__logo2 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2196F3;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}
.footer__logo2 {
  color: #FFFFFF;
}
.footer__address, .footer__phone, .footer__mail {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer__mail {
  color: rgba(255, 255, 255, 0.6);
}
.footer__phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon:hover, .footer__icon:focus {
  background-color: #2196F3;
}
.footer__icon-link {
  width: 20px;
  height: 20px;
}

.social-head {
  position: relative;
  top: 0;
  left: -15px;
  width: 230px;
  height: 80px;
}
.social-head__title {
  margin-bottom: 20px;
  margin-left: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.social-head__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: -2px;
  gap: 10px;
}

.newsletter {
  margin-top: 60px;
  padding-left: 30px;
}
.newsletter__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.newsletter__e-mail {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin-top: -5px;
  margin-left: -15px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #2F303A;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.newsletter__icon {
  position: absolute;
  top: 13px;
  left: 148px;
  height: 100px;
  fill: #FFFFFF;
}
.newsletter__submit-button {
  position: relative;
  top: 0;
  left: -20px;
  transform: translate(50%, 50%);
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-right: 35px;
  margin-bottom: 60px;
  margin-left: 30px;
  line-height: 30px;
  width: 200px;
  height: 50px;
}
.newsletter__submit-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer {
    background-color: #2F303A;
  }
  .footer__logo-field {
    position: relative;
    top: -140px;
    left: -200px;
    width: 253px;
    height: 79px;
  }
  .footer__logo, .footer__logo2 {
    margin-top: 60px;
    padding-top: 60px;
  }
  .footer__logo2 {
    margin-top: 60px;
    padding-top: 60px;
  }

  .social-head {
    position: relative;
    top: -115px;
    left: 233px;
  }

  .newsletter {
    margin-top: -25px;
  }
  .newsletter__e-mail {
    position: relative;
    top: 0;
    left: -50%;
    transform: translate(50%, 50%);
    margin-left: 0px;
  }
  .newsletter__submit-button {
    position: relative;
    top: 20px;
    left: 0;
    transform: translate(50%, 50%);
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background-color: #2F303A;
  }
  .footer__logo-field {
    position: relative;
    top: 0;
    left: -150px;
  }
  .footer__logo, .footer__logo2 {
    font-size: 26px;
    line-height: 31px;
    text-align: left;
  }
  .footer__logo2 {
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    text-align: left;
    color: #FFFFFF;
  }
  .footer__address, .footer__mail, .footer__phone {
    text-align: left;
  }

  .social-head {
    position: relative;
    top: -35px;
    left: -100px;
  }
  .social-head__title {
    margin-left: -50px;
  }

  .newsletter {
    position: relative;
    top: -65px;
    left: -65px;
    width: 300px;
    height: 80px;
  }
  .newsletter__title {
    margin-left: -65px;
  }
  .newsletter__e-mail {
    width: 358px;
    margin-left: 0px;
  }
  .newsletter__submit-button {
    position: relative;
    top: -50px;
    left: -30px;
    transform: translate(185%);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.modal__field, .modal__field3, .modal__field2, .modal__field1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 40px;
  margin-top: 4px;
  text-indent: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus-within, .modal__field3:focus-within, .modal__field2:focus-within, .modal__field1:focus-within {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.modal__field3 {
  height: 128px;
  padding-top: 12px;
  text-indent: 16px;
}
.modal__icon--name {
  position: absolute;
  top: 109px;
  left: 55px;
}
.modal__icon--phone {
  position: absolute;
  top: 180px;
  left: 55px;
}
.modal__icon--envelope-modal {
  position: absolute;
  bottom: 340px;
  left: 53px;
}
.modal__mail, .modal__comment, .modal__name, .modal__phone {
  margin-bottom: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__mail:focus-within, .modal__comment:focus-within, .modal__name:focus-within, .modal__phone:focus-within {
  fill: #2196F3;
}
.modal__terms {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}
.modal__terms::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-top: 20px;
  margin-right: 7px;
  outline: 2px solid #212121;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__terms--link {
  text-decoration: none;
  transition-property: text-decoration, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__terms--link:hover {
  text-decoration: underline;
  color: #2196F3;
}
.modal__checkbox:checked + .modal__terms::before {
  background-color: #2196F3;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 16px;
  outline: none;
}
.modal__terms--link {
  text-decoration: none;
  transition-property: text-decoration, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__terms--link:hover {
  text-decoration: underline;
  color: #2196F3;
}
.modal__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 40px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.modal__submit-button:hover {
  cursor: pointer;
}
.modal__submit-button--title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover {
  transform: rotate(360deg);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal__mail, .modal__phone, .modal__name, .modal__comment {
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__mail:focus-within, .modal__phone:focus-within, .modal__name:focus-within, .modal__comment:focus-within {
    fill: #2196F3;
    color: #2196F3;
  }

  .modal__close-btn {
    transition-property: transform, fill;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__close-btn:hover {
    transform: rotate(360deg);
    fill: #2196F3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal__field3 {
    height: 128px;
    padding-top: 12px;
    text-indent: 16px;
  }

  .modal__mail, .modal__phone, .modal__name, .modal__comment {
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__mail:focus-within, .modal__phone:focus-within, .modal__name:focus-within, .modal__comment:focus-within {
    fill: #2196F3;
    color: #2196F3;
  }

  .modal__close-btn {
    transition-property: transform, fill;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__close-btn:hover {
    transform: rotate(360deg);
    fill: #2196F3;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .modal__field, .modal__field1, .modal__field2, .modal__field3 {
    width: 448px;
  }
  .modal__field1 {
    width: 448px;
  }
  .modal__field2 {
    width: 448px;
  }
  .modal__field3 {
    width: 448px;
    height: 128px;
    padding-top: 12px;
    text-indent: 16px;
  }
  .modal__mail, .modal__phone, .modal__name, .modal__comment {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__mail:focus-within, .modal__phone:focus-within, .modal__name:focus-within, .modal__comment:focus-within {
    fill: #2196F3;
  }
  .modal__terms {
    font-size: 14px;
    line-height: 24px;
  }
  .modal__icon--envelope-modal {
    position: absolute;
    bottom: 335px;
    left: 53px;
  }
}/*# sourceMappingURL=main.css.map */