.svg {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-antenna-1 {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-astronaut-1 {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-clock-1 {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-diagram-1 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-Ellipse {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-Ellipse-1 {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-Ellipse-2 {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-Ellipse-3 {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-Ellipse-4 {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-Ellipse-5 {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-Ellipse-6 {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-envelope {
  width: 43px;
  height: 32px;
  background-position: -528px 0;
}
.icon-envelope-1 {
  width: 43px;
  height: 32px;
  background-position: -624px 0;
}
.icon-instagram-2 {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-Logo {
  width: 56px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-Logo--1 {
  width: 56px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-Logo1 {
  width: 57px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-Logo-1 {
  width: 57px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-Logo-2 {
  width: 57px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-Logo-3 {
  width: 57px;
  height: 32px;
  background-position: -528px -48px;
}
.icon-smartphone {
  width: 20px;
  height: 32px;
  background-position: -624px -48px;
}
.icon-smartphone-1 {
  width: 20px;
  height: 32px;
  background-position: -672px -48px;
}
.icon-Social-links {
  width: 150px;
  height: 32px;
  background-position: 0 -96px;
}
.icon-Social-links-1 {
  width: 150px;
  height: 32px;
  background-position: -192px -96px;
}
.icon-Vector {
  width: 20px;
  height: 32px;
  background-position: -384px -96px;
}

