.card-set {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
.card-set__image{background: getColor('fifth-decoration-color');
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px 0;
width:270px; 
height: 120px;
&__image:hover{cursor: pointer;
      }
    } 

.card-set--title {font-family: getFont('main-font');
    font-weight: 700;
        color: getColor('font-brand-color');
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.card-set--text {font-family: getFont('main-font');
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: getColor('font-fourth-color');
    text-transform: none;
    text-align: left;
}