.clients {
  padding: 60px 0;

  &__title {
    font-family: getFont("main-font");
    color: getColor("font-brand-color");
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__title {
    padding-top: 94px;
    margin: 0 auto;
  }
  .clients__list {
    flex-basis: calc((33.3% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
  .clients__title {
    font-size: 36px;
    line-height: 42px;
  }

  .clients__list {
    display: flex;
    padding-top: 50px;
  }
}
