
.clients__title {
    font-family: getFont('main-font');
    color: getColor('font-brand-color');
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-top: 94px;
    margin: 0 auto;
}
.clients__list {
    display: flex;
    padding-top: 50px;
}
