@media screen and (min-width: 480px) and (max-width: 767px) {
.hamburger {
    position: relative;
    top: -40px;
    left: 420px; 
    display: flex;
    justify-content: center;
    width:30px;
    height: 4px;
  background-color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
&::before, &::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
}
&::before {
    transform: translateY(-16px);
}
&::after {
    transform: translateY(16px);
}
}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .hamburger {
      display: none;
    }
}
@media screen and (min-width: 1200px) {
    .hamburger {
      display: none;
    }
}