.page-header__logo{
    font-family: getFont('secondary-font');
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
    color: getColor('font-third-color');}

.page-header__logo2{
    font-family: getFont('secondary-font');
    color: getColor('font-brand-color');
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;}

