.page-header-logo{
    font-family: getFont('secondary-font');
    color: getColor('font-third-color');
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
    }

.page-header-logo--right{
    @extend .page-header-logo;
    color: getColor('font-brand-color');
}
@media screen and (min-width: 320px) and (max-width: 480px){
.page-header-logo {position: relative;
        top: 15px;
    left:10px;}
.page-header-logo--right {position: relative;
        top: 0;
    left:0;}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .page-header-logo {display: flex;
    justify-content: flex-start;
margin-left: 10px;
  &--right {margin-left: 0px;}
}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {    
    .page-header-logo{display: flex;
        margin-right: 93px;
        padding-left: 15px;
        &--right {padding-left: 0px;}
    }
}
@media screen and (min-width: 1200px) {
.page-header-logo{position: relative;
        top: 0;
        left: 0;
    &--right {position: relative;
        top: 0;
        left: 0;}
  }
}
    
