@media screen and (min-width: 320px) and (max-width: 480px){
  .navi__menu {
    display: none;}
    .contact-menu{
    display: none;}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .navi__menu {
  display: none;}
  .contact-menu{
  display: none;}
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  
  .navi {display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px;
  &__menu {width: 0px;
    height: 0px;
    display: flex;
    position: relative;
    top: 12px;
    left: -500px;
    padding: 0px;
    list-style-type: none;
  }
  &__menu-list {
    list-style-type: none;
  }
  &__menu-list:not(:last-child) {
    padding-right: 46px;
  }
  &__menu-link {font-family: getFont("main-font");
    color: getColor("font-brand-color");
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: getColor("font-third-color");
    }
  }
  &__menu-link--active::after {
    content: "";
    display: block;
    border-top: 4px solid #2196F3;
    position: relative;
    top: 29px;
    border-radius: 2px;
  }
}
  .contact-menu {position: relative;
    top:-70px;
    right: -600px;
    padding-left: 0px;
  &__list {
    list-style-type: none;
  }
  &__list:not(:last-child) {
    padding-right: 50px;
    padding-bottom: 10px;
  }
  &__link{font-family: getFont('main-font');
    color: getColor("font-fourth-color");
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 10px;
    transition-property: color, stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      text-decoration: none;
      color: getColor("font-third-color");
      stroke: getColor("main-decoration-color");
      stroke-width: 2px;
    }
  }
}
}
@media screen and (min-width: 1200px) {
  
  .navi {display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px;
    
  &__menu {display: flex;
    position: relative;
    padding-left: 0px;
    list-style-type: none;
  }
  &__menu-list:not(:last-child) {
    padding-right: 46px;
  }
  &__menu-link {position: relative;
    top: 12px;
    left: -600px;
    font-family: getFont("main-font");
    color: getColor("font-brand-color");
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: getColor("font-third-color");
    }
  }
  &__menu-link--active::after {
    content: "";
    display: block;
    border-top: 4px solid #2196F3;
    position: relative;
    top: 29px;
    border-radius: 2px;
  }
}
  .contact-menu {position: relative;
    display: flex;
    top: -60px;
    left: 900px;
    padding-left: 0px;
  &__list {
    list-style-type: none;
  }
  &__list:not(:last-child) {
    padding-right: 25px;
  }
  &__link{font-family: getFont('main-font');
    color: getColor("font-fourth-color");
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 10px;
    transition-property: color, stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      text-decoration: none;
      color: getColor("font-third-color");
      stroke: getColor("main-decoration-color");
      stroke-width: 2px;
    }
  }
}
}