.overlay {
    position: absolute;
    bottom: -294px;
    left: 0;
    width: 370px;
    height: 294px;
    padding: 49px 45px 49px 24px;
    color: getColor('font-secondary-color');
    font-family: getFont('main-font');
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}