.product {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 50px;
    padding-top: 94px;
    font-family: getFont('main-font');
    font-size: 36px;
    font-weight: 700;
    color: getColor('font-brand-color');
    line-height: 42px;
    text-align: center;
&__list {display: flex;
    justify-content: space-between;
    list-style-type: none;
padding-left: 0px;
margin-bottom: 94px;}
&__image {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
   }
}