.product {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 94px;
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    color: var(--font-brand-color);
    line-height: 42px;
    text-align: center;
}
.product__list {display: flex;
    justify-content: space-evenly;
    list-style-type: none;
padding-left: 0px;
margin-bottom: 94px;}

.product__image {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}