.box {width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-family: getFont('main-font');
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('font-secondary-color');
&__text-box1 {
    position: relative;
    bottom: 70px;
    left: 0px;
    text-indent: 90px;
}
&__text-box2 {
    position: relative;
    bottom: 140px;
    left: 400px;
    text-indent: 113px;
}
&__text-box3 {
    position: relative;
    bottom: 210px;
    left: 800px;
    text-indent: 94px;
}
}
@media screen and (min-width: 0px) and (max-width: 480px) {
    .box {
        display: none;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .box {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
.box {display: none;}
}

@media screen and (min-width: 1200px) {
    .box {visibility: visible;}
}