.svg {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-X {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-antenna-1 {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-astronaut-1 {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-clock-1 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-diagram-1 {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-envelope {
  width: 43px;
  height: 32px;
  background-position: -240px 0;
}
.icon-facebook-1 {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-instagram-2 {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-linkedin-1 {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-Logo {
  width: 56px;
  height: 32px;
  background-position: -480px 0;
}
.icon-Logo--1 {
  width: 56px;
  height: 32px;
  background-position: -576px 0;
}
.icon-Logo1 {
  width: 57px;
  height: 32px;
  background-position: -672px 0;
}
.icon-Logo-1 {
  width: 57px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-Logo-2 {
  width: 57px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-Logo-3 {
  width: 57px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-smartphone {
  width: 20px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-twitter-1 {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-Vector {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-Vector-1 {
  width: 36px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-Vector-2 {
  width: 18px;
  height: 32px;
  background-position: -480px -48px;
}

