.container-card-set {max-width: 1200px;
    margin: 0px auto;}

.container__card-set{display: flex;
    justify-content: space-evenly;
list-style-type: none;
margin-top:94px;
margin-bottom: 0px;
padding-left: 0px;
}