.container {
    max-width: 1200px;
    margin: 0px auto;
}

.container-card-set{
    margin-top: 94px;
    margin-bottom: 0px;
    padding-left: 0px;}
    
.container-footer {
    display: flex;
    align-items: center;
    height: 252px;
}

.container-main-section {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    padding-top: 100px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: getFont('main-font');
    color: getColor('font-secondary-color');
}

.container-page-header {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    &__content {
        height: 100%;
        display: flex;
        padding: 24px 227px 25px 0px;
        justify-content: space-between;
        align-items: center;
       }  
}
.container-clients {
    padding-bottom: 94px;
}