.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.container-card-set {
  margin-bottom: -94px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container-card-set {
    max-width: 1200px;
  }
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container-footer {
    height: 603px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container-footer {
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    flex-direction: row;
    min-height: 252px;
  }
}

.container-page-header {
  border-bottom: 1px solid #ececec;
  max-width: 1200px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container-page-header {
    height: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container-page-header {
    max-width: 1200px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .container-page-header {
    height: 80px;
    margin: 0 auto;
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container-clients {
    max-width: 1200px;
  }
}
