
.footer{background-color: getColor('fourth-decoration-color');
&__logo{
    font-family: getFont('secondary-font');
    font-size: 26px;
    font-weight: 700;
    color: getColor('font-third-color');
    line-height: 31px;
    text-decoration: none;
}
&__logo2 {
    font-family: getFont('secondary-font');
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
    color: getColor('font-secondary-color');
}
&__address {
    font-family: getFont('main-font');
    color: getColor('font-secondary-color');
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    cursor: default;
}
&__mail {font-family: getFont('main-font');
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
&__phone{font-family: getFont('main-font');
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;}
&__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: getColor('secondary-decoration-color');
    transition-property: fill, background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    background-color: getColor('main-decoration-color');
        }
    }
    &__icon-link {width:20px;
        height: 20px;}
}
.social-head {
    margin-top: -48px;
    margin-right: 78px;
    margin-left: 70px;
    width: 230px;
    height: 80px;
    &__title{
        margin-left: 32px;
    font-family: getFont('main-font');
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('font-secondary-color');
    padding-bottom: 10px;}
    &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: -2px;
    gap: 10px;
    }
}
.newsletter {margin-top: -48px;
    padding-left: 30px;
    width: 300px;
    height: 80px;
    &__title {
    font-family: getFont('main-font');
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('font-secondary-color');
    padding-bottom: 10px;
}
    &__e-mail {width: 358px;
    height: 50px;
    margin-top: -5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-family: getFont('main-font');
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: getColor('fourth-decoration-color');
    color: getColor('font-secondary-color');
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;}
&__icon {position: absolute;
        top: 13px;
        left: 148px;
        height: 100px;
        fill: getColor('secondary-decoration-color');}
&__submit-button {position: relative;
        top: -50px;
        transform: translate(185%);
        background-color: getColor('main-decoration-color');
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        color: getColor('font-secondary-color');
        font-family: getFont('main-font');
        font-weight: 700;
        font-size: 16px;
        padding-right: 35px;
        line-height: 30px;
        width: 200px;
        height: 50px;
    &:hover{cursor: pointer;}
    }
}