.main-section-heading {
    background-color: getColor('main-decoration-color');
    background-image: url("../images/header-mobile.jpg");
    width: 480px;
    height: 400px;
    margin: 0 auto;
    background-size: 480px 400px;
    background-repeat: no-repeat;
    @include bg-image {background-image: url("../images/header-mobile@2x.jpg");
    background-size: 480px 400px;
    background-repeat: no-repeat;}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .main-section-heading {background-image: url("../images/header-tablet.jpg");
            width: 768px;
            height: 400px;
            background-size: 768px 400px;
            @include bg-image {background-image: url("../images/header-tablet@2x.jpg");
            background-size: 768px 400px;}
}
}
@media screen and (min-width: 1200px){
    .main-section-heading {
        background-image: url("../images/header.jpg");
        width: 1600px;
        height: 600px;
        background-size: 1600px 600px;
    }
}