.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 94px;
  margin-right: -8px;
  margin-bottom: 60px;
  margin-left: -8px;

  &__item {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    max-width: calc(100% - 30px);
    flex: 0 0 calc(100% - 30px);
    margin-top: 60px;
    margin-bottom: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12),
        4px 4px 4px rgba(0, 0, 0, 0.06), 4px 4px 6px rgba(0, 0, 0, 0.16),
        8px 0px 10px rgba(0, 0, 0, 0.3), 0px 8px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
  &__image {
    position: relative;
    object-fit: cover;
  }

  &__text-field {
    position: relative;
    background-color: getColor("secondary-decoration-color");
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-top: 0;
    padding-top: 20px;
  }
  &__title {
    position: relative;
    margin: 0 24px 0 24px;
    font-family: getFont("main-font");
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: none;
    text-decoration: none;
    color: getColor("font-brand-color");
  }
  &__subtitle {
    position: relative;
    margin: 4px 24px 20px 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: getFont("main-font");
    color: getColor("font-fourth-color");
    line-height: 30px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__overlay-text {
    padding: 77px 24px 77px 24px;
    font-family: getFont("main-font");
    color: getColor("font-secondary-color");
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}
.grid__item:hover .grid__overlay {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .grid {
    padding: 0;
    &__item {
      margin-right: 30px;
      max-width: calc(50% - 30px);
      flex: 0 0 calc(50% - 30px);
    }
    &__subtitle {
      position: relative;
      margin: 4px 24px 20px 24px;
    }
    &__overlay-text {
      padding: 49px 24px 49px 24px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    gap: 30px;
    padding: 0;
    &__item {
      position: relative;
      overflow: hidden;
      max-width: calc(33.3% - 30px);
      flex: 0 0 calc(33.3% - 30px);
      margin: 25px 15px 30px 15px;
      transition-property: box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__overlay-text {
      padding: 49px 45px 49px 24px;
    }
  }
}
