*,
*::before,
*::after {box-sizing: border-box;}

$colors: (
'font-brand-color': #212121,
'font-secondary-color': #FFFFFF,
'font-third-color': #2196F3,
'font-fourth-color': #757575,
'main-decoration-color': #2196F3,
'secondary-decoration-color': #FFFFFF,
'third-decoration-color': #757575,
'fourth-decoration-color': #2F303A,
'fifth-decoration-color':#F5F4FA);

@function getColor($key) {
    @return map-get($colors, $key);
  }

$family-main: 'Roboto', sans-serif;
$family-secondary: 'Raleway', sans-serif;
$fonts: (
  'main-font':$family-main,
  'secondary-font':$family-secondary
);

@function getFont($key) {
    @return map-get($fonts, $key);
  }
